<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alejandrobel.proyecto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name=".MyApp"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:theme="@style/Theme.Proyecto"
        tools:targetApi="31">

        <!-- Actividades del perfil -->
        <activity
            android:name=".profile.activities.EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".profile.activities.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.activities.ProfileActivity" />
        </activity>

        <activity
            android:name=".profile.activities.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>

        <!-- Actividades de lecciones -->


        <activity
            android:name=".lessons.activities.LessonsActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>

        <!-- Actividades de flashcards -->


        <activity
            android:name=".flashcards.activities.FlashcardsActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>

        <!-- Actividades de autenticación -->
        <activity
            android:name=".auth.activities.LoadScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".auth.activities.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Actividad principal -->
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
    </application>

</manifest>